@use "../_var.scss";

body {
  color: var.$color-text;
  background-color: #fff;
  background-image: linear-gradient(
    40deg,
    hsl(44deg 97% 66%) 0%,
    hsl(41deg 100% 68%) 7%,
    hsl(39deg 100% 70%) 15%,
    hsl(36deg 100% 72%) 22%,
    hsl(34deg 100% 73%) 30%,
    hsl(31deg 100% 75%) 38%,
    hsl(28deg 100% 77%) 46%,
    hsl(25deg 100% 78%) 54%,
    hsl(21deg 100% 80%) 62%,
    hsl(18deg 100% 81%) 70%,
    hsl(14deg 100% 83%) 77%,
    hsl(11deg 100% 84%) 85%,
    hsl(7deg 100% 85%) 93%,
    hsl(3deg 100% 86%) 100%
  );
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: "Mulish", sans-serif;
}

.page {
  min-height: 100vh;
  max-width: 75em;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  display: flex;

  &__title {
    font-family: "Calistoga";
    font-size: 7vw;
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-align: center;

    &-emphasis {
      background-color: #fff;
      border-radius: 10px;

      &-gradient {
        background-image: var.$gradient;
        background-clip: text;
        color: #0000;
      }
    }
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
}
